.contador {
	width: 15%;
	display: inline-block;
	border-radius: 0;
}
.mas, .manos {
	display: inline-block;
	float: none !important;
}

.total {
	width: 50%;
}

.bordeProducto {
	margin-top: 4%;
	border-radius: 10px;
	border: 2px solid #000;
	padding: 2%;
}
